{% extends 'base.html' %}
{% load static %}
{% block content %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  >
<style>

    .booking-container {
        width: 80%;
        margin: 20px auto;
    }
    .booking-card {
        background-color: #cac5c5;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: space-around;
    }
    .booking-image {
        flex: 0 0 100px;
        margin-right: 25px;
        margin-left: 25px;
        
    }
    .booking-image img {
        width: 100px;
        height: auto;
        border-radius: 5px;
    }
    .booking-details p {
        margin: 5px 0;
    }
    .home-button {
        display: block;
        width: 120px;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .home-button:hover {
        background-color: #45a049;
    }
</style>

<h2 style="text-align:center;">Booked Tickets</h2>

<div class="booking-container">
    
    {% for booking in details %}

    <div class="booking-card">
        <div class="booking-image">
            <img src="{{booking.showtime.movie.movie_image.url }}" alt="Ticket Image">
        </div>
        <div class="booking-details">
            <!-- <p><strong>User:</strong> {{ booking.user }}</p> -->
             <!-- <p>{{booking.showtime.movie.movie_image}}</p> -->
            <p><strong>Movie name:</strong> {{ booking.showtime.movie.title}}</p>
            <p><strong>Show Time:</strong> {{ booking.showtime.showtime }}</p>
            <p><strong>Booking Time:</strong> {{ booking.booking_time }}</p>
            <p><strong>Status:</strong> {{ booking.status }}</p>
            <!-- <p><strong>Your seats:</strong>
                {{seats}}
            </p> -->
            <p><strong>Total Amount:</strong> ₹{{ booking.total_amount }}</p>
            <p><i class="fas fa-map-marker-alt"></i> {{booking.showtime.theater.name}}</p>
        </div>
        <div class="booking-image">
            <img src="{% static 'image/qr.png' %}" alt="QR code">
        </div>
        <form method="POST" action="{% url 'cancel_ticket' booking.id %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
</form>
    </div>
    {% empty %}
    <p style="text-align:center;">No bookings found.</p>
    {% endfor %}
</div>

<a href="{% url 'movies' %}" class="home-button">Go Home</a>

{% endblock %}
